$btn-primary-bg-color: rgb(27, 111, 222);
$btn-secondary-bg-color: rgb(167, 158, 158);
$input-bottom-border-default: rgb(199, 221, 250);
$input-bottom-border-focus: rgb(27, 112, 224);
$heading-color: rgb(27, 112, 224);
$heading-size: 20px;
$label-color: rgb(42, 45, 64);
$label-size: 15px;
$text-color: rgb(27, 111, 222);
$text-size: 16px;
$border-radius: 5px;
$error-size: 14px;
$grid-primary-bg-color: rgb(247, 249, 252);
$grid-secondary-bg-color: rgb(165, 192, 247);
$grid-header-bg-color:  rgb(88, 119, 202);
$grid-header-text-color:  rgb(219, 222, 230);
