<h1 class="center">List using virtual scroll</h1>


<div class="row col-12 p-0 m-0 mt-3">
  <input type="text" name="numericTextBox" numberOnly='true' [NumberOnly]='true' [DecimalPlaces]='2' 
  class="input-control txt-primary" placeholder='Numeric textbox'>
</div>

<div class="row col-12 p-0 m-0 table-header">
  <div class="col-1 p-0 m-0">
    Id
  </div>
  <div class="col-3 p-0 m-0">
    Name
  </div>
  <div class="col-4 p-0 m-0">
    Date
  </div>
  <div class="col-4 p-0 m-0">
    Price
  </div>
</div>
<cdk-virtual-scroll-viewport style="height: 500px;" itemSize="35">
  <ng-container *cdkVirtualFor="let list of lists; let isOdd=odd; let isEven=even">
    <div class="row col-12 p-0 m-0 list" [ngClass]='(isEven)? "prim-row": "alt-row"'>
      <div class="col-1 p-0 m-0">
        {{list.id}}
      </div>
      <div class="col-3 p-0 m-0">
        {{list.name}}
      </div>
      <div class="col-4 p-0 m-0">
        {{list.date | date: 'MM/dd/yyyy'}}
      </div>
      <div class="col-4 p-0 m-0">
        {{list.price | number: '0.2-2'}}
      </div>
    </div>
  </ng-container>
</cdk-virtual-scroll-viewport>